$html-font-size: 16px;
$maxWidth: 1440;
$maxWidthContainer: 1440;

$colors: (
  "primary": #f1f1f1,
  "accent": #ff4c0d,
  "secondary": #151515,
  "dark-bg": #222222,
  "light-bg": #e0e0e0,
  "dark-gr-from": #fc501f,
  "dark-gr-to": rgba(252, 80, 31, 0),
);

$unactive: 0.8;
