body {
  min-height: 100%;
  font-size: rem(12px);
  line-height: divide(20.4, 12);
  font-weight: 600;
  letter-spacing: -0.01em;
  color: getColor('primary');
  background-color: getColor('dark-bg');

  @media screen and (min-width: 960px) {
    font-size: rem(14px);
    line-height: divide(22.4, 14);
  }

  @media screen and (min-width: 1440px) {
    line-height: divide(21, 14);
  }
}
